<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Ball.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,0},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>fastBall.png</key>
		<dict>
			<key>frame</key>
			<string>{{80,0},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{80,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Heart.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,16},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,16},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>Block1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,32},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,32},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Block2.png</key>
		<dict>
			<key>frame</key>
			<string>{{32,32},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{32,32},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Block3.png</key>
		<dict>
			<key>frame</key>
			<string>{{64,32},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{64,32},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>Block4.png</key>
		<dict>
			<key>frame</key>
			<string>{{96,32},{32,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,32},{32,16}}</string>
			<key>sourceSize</key>
			<string>{32,16}</string>
		</dict>
		<key>gameBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,64},{320,672}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,64},{320,672}}</string>
			<key>sourceSize</key>
			<string>{320,672}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sprites.png</string>
		<key>size</key>
		<string>{320,736}</string>
		<key>textureFileName</key>
		<string>sprites.png</string>
	</dict>
</dict>
</plist>
