<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Mole_00.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>Mole_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,0},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{30,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>Mole_02.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,0},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{60,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>Mole_03.png</key>
		<dict>
			<key>frame</key>
			<string>{{90,0},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{90,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>Mole_04.png</key>
		<dict>
			<key>frame</key>
			<string>{{120,0},{30,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{120,0},{30,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>Target.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,0},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{150,0},{40,40}}</string>
			<key>sourceSize</key>
			<string>{30,40}</string>
		</dict>
		<key>Timmer.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,40},{40,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{150,40},{40,40}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>ArrowBox.png</key>
		<dict>
			<key>frame</key>
			<string>{{225,0},{100,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{225,0},{100,100}}</string>
			<key>sourceSize</key>
			<string>{100,100}</string>
		</dict>
		<key>PowerPoint.png</key>
		<dict>
			<key>frame</key>
			<string>{{325,0},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{325,0},{50,505}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>VectorDegree.png</key>
		<dict>
			<key>frame</key>
			<string>{{375,0},{20,100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{375,0},{20,100}}</string>
			<key>sourceSize</key>
			<string>{20,100}</string>
		</dict>
		<key>Hammer_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,50},{20,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,50},{20,25}}</string>
			<key>sourceSize</key>
			<string>{20,25}</string>
		</dict>
		<key>Keeper_01.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,75},{55,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,75},{55,80}}</string>
			<key>sourceSize</key>
			<string>{55,80}</string>
		</dict>
		<key>skyBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,160},{580,320}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,160},{580,320}}</string>
			<key>sourceSize</key>
			<string>{580,320}</string>
		</dict>
		<key>glassBg.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,480},{580,155}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,480},{580,155}}</string>
			<key>sourceSize</key>
			<string>{580,155}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>sprites.png</string>
		<key>size</key>
		<string>{580,635}</string>
		<key>textureFileName</key>
		<string>sprites.png</string>
	</dict>
</dict>
</plist>
